{% extends "common.html" %}
  {% block body %}
  
  <!--======= HOME MAIN SLIDER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5" >
    <div class="position-center-center">
      <div class="container">
        <h3>ABOUT US</h3>
        <hr>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">About</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- TEAM -->
    <section class="innovaction light-sec padding-top-150">
      <div class="container">
        <div class="row">
          <div class="col-sm-6"> 
            
            <!-- Heading -->
            <div class="heading text-left margin-bottom-40">
              <h4>the best Innovation design</h4>
              <span>Super Design Idea</span>
              <hr>
            </div>
            
            <!-- Info -->
            <p>We have a number of different teams within our agency that specialise in different areas of business so you can be sure that you won’t receive a generic service and although we can’t boast years and years of service we can ensure you that is a good thing in this industry. The data sources that we use for this type of analysis include customer enquiry data, sales figures, costs, market data and customer feedback.
              Maecenas mollis rhoncus justo ac gravida. Duis purus risus, auctor sed erat et</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris auctor massa ut ipsum lobortis feugiat eget quis elit. Maecenas mollis rhoncus justo ac gravida. Duis purus risus, auctor sed erat et, blandit tempus mauris. Etiam magna odio, convallis pulvinar eleifend at, suscipit et libero. </p>
            <a href="#." class="btn margin-top-20">Read more <i class="fa fa-long-arrow-right"></i></a> </div>
          
          <!-- Image -->
          <div class="col-sm-6 text-right"> <img class="img-responsive" src="/static/images/skills-img.png" alt="" > </div>
        </div>
      </div>
    </section>
    
    <!-- TEAM -->
    <section class="padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading text-center">
          <h4>Our Team</h4>
          <span>The Top Pick... Team Members</span>
          <hr>
        </div>
        
        <!-- TEAM -->
        <div class="team">
          <div class="row"> 
            
            <!-- MEMBER -->
            <div class="col-md-3">
              <article> <img class="img-responsive" src="/static/images/team-1.jpg" alt="">
                <div class="team-hover">
                  <div class="team-name">
                    <h5>Alex Jones</h5>
                    <span>Code Worrior</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a> </div>
                </div>
              </article>
            </div>
            
            <!-- MEMBER -->
            <div class="col-md-3">
              <article> <img class="img-responsive" src="/static/images/team-2.jpg" alt="">
                <div class="team-hover">
                  <div class="team-name">
                    <h5>Alex Jones</h5>
                    <span>Code Worrior</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a> </div>
                </div>
              </article>
            </div>
            
            <!-- MEMBER -->
            <div class="col-md-3">
              <article> <img class="img-responsive" src="/static/images/team-3.jpg" alt="">
                <div class="team-hover">
                  <div class="team-name">
                    <h5>Alex Jones</h5>
                    <span>Code Worrior</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a> </div>
                </div>
              </article>
            </div>
            
            <!-- MEMBER -->
            <div class="col-md-3">
              <article> <img class="img-responsive" src="/static/images/team-4.jpg" alt="">
                <div class="team-hover">
                  <div class="team-name">
                    <h5>Alex Jones</h5>
                    <span>Code Worrior</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a> </div>
                </div>
              </article>
            </div>
            
          </div>
        </div>
      </div>
    </section>
    
    <!-- FACTS -->
    <section class="facts light">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading text-center">
          <h4>Fun FActs</h4>
          <span>Don't Be Vague</span>
          <hr>
        </div>
        <div class="row"> 
          <!-- Team Member -->
          <div class="col-md-3 margin-bottom-30"> <i class="icon-anchor"></i>
            <div class="fats-conter"> <span class="number"> <span class="timer" data-speed="2000" data-refresh-interval="100" data-to="35" data-from="0">500 </span> </span>
              <h5>Project Completed</h5>
            </div>
          </div>
          
          <!-- Line Of Codes -->
          <div class="col-md-3 margin-bottom-30"> <i class="icon-pencil"></i>
            <div class="fats-conter"> <span class="number"> <span class="timer" data-speed="2000" data-refresh-interval="100" data-to="5225" data-from="0">254 </span> </span>
              <h5>Line Of Codes</h5>
            </div>
          </div>
          
          <!-- Satisfied Client -->
          <div class="col-md-3  margin-bottom-30"> <i class="icon-heart"></i>
            <div class="fats-conter"> <span class="number"> <span class="timer" data-speed="2000" data-refresh-interval="100" data-to="4977" data-from="0">184 </span> </span>
              <h5>Happy Clients</h5>
            </div>
          </div>
          
          <!-- PSD file included -->
          <div class="col-md-3 margin-bottom-30"> <i class="icon-bike"></i>
            <div class="fats-conter"> <span class="number"> <span class="timer" data-speed="2000" data-refresh-interval="100" data-to="178" data-from="0">35k </span> </span>
              <h5>Km Drive</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Testimonial -->
    <section class="testimonial style-2 padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading text-center">
          <h4>Our Testimonials</h4>
          <span>Solutions For a Small Testimonial</span>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-12"> 
            
            <!-- Test Slider -->
            <div class="testi">
              <div class="two-slider"> 
                
                <!-- Slider 1 -->
                <div class="in-testi"> 
                  
                  <!-- Avatars -->
                  <div class="avatars"> <img src="/static/images/avatar-1.jpg" alt="" > </div>
                  <div class="testi-name">
                    <h5>Steven Smith</h5>
                    <span>CEO Of Premio</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> </div>
                  <p>They're creepy and they're kooky mysterious and spooky. They're all together ooky the Addams What might be right for you may not be to right for some Now the world. </p>
                </div>
                
                <!-- Slider 1 -->
                
                <div class="in-testi"> 
                  
                  <!-- Avatars -->
                  <div class="avatars"> <img src="/static/images/avatar-2.jpg" alt="" > </div>
                  <div class="testi-name">
                    <h5>Steven Smith</h5>
                    <span>Designer</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> </div>
                  <p>They're creepy and they're kooky mysterious and spooky. They're all together ooky the Addams What might be right for you may not be to right for some Now the world. </p>
                </div>
                <!-- Slider 1 -->
                <div class="in-testi"> 
                  
                  <!-- Avatars -->
                  <div class="avatars"> <img src="/static/images/avatar-1.jpg" alt="" > </div>
                  <div class="testi-name">
                    <h5>Steven Smith</h5>
                    <span>Designer</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> </div>
                  <p>They're creepy and they're kooky mysterious and spooky. They're all together ooky the Addams What might be right for you may not be to right for some Now the world. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- CLIENTS -->
        <div class="clients-img col-4 padding-top-150">
          <ul class="row">
            <li> <a href="#."> <img src="/static/images/c-img-1.png" class="img-responsive" alt=""> </a></li>
            <li> <a href="#."> <img src="/static/images/c-img-2.png" class="img-responsive" alt=""> </a> </li>
            <li> <a href="#."> <img src="/static/images/c-img-3.png" class="img-responsive" alt=""> </a></li>
            <li> <a href="#."> <img src="/static/images/c-img-4.png" class="img-responsive" alt=""> </a> </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  {% endblock %}