{% extends "common.html" %}
{% block body %}
<!--======= HOME MAIN SLIDER =========-->
<section class="home-slider">
    <!-- Slider Loader -->
    <div id="loader" class="hom-slie">
        <div class="tp-loader spinner0"> <span class="dot1"></span> <span class="dot2"></span> <span class="bounce1"></span> <span class="bounce2"></span> <span class="bounce3"></span> </div>
    </div>
    <!-- SLIDE Start -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                {% for s in slides %}
                {% if s.file %}
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <!-- <img style="z-index: 8" src=""  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">  -->
                    <!-- <img src="{{ s.image.url }}"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"> -->
                    <video poster="{{ s.image.url }}" alt="slider" style="width: 100%;height: 100%;object-fit: cover;  z-index: 9" loop controls="" autoplay="" name="media">
                        <source src="{{ s.file.url }}" type="video/mp4">
                    </video>
                    <div class="tp-caption sfr font-bold tp-resizeme letter-space-4" data-x="left" data-hoffset="0" data-y="center" data-voffset="-80" data-speed="800" data-start="800" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="none" data-elementdelay="0.07" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; font-size:35px; color:#fff; text-transform:uppercase; white-space: nowrap;">致力于成为全球领先的智慧机场服务商
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfr font-bold tp-resizeme letter-space-3" data-x="left" data-hoffset="0" data-y="center" data-voffset="0" data-speed="800" data-start="1300" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="none" data-elementdelay="0.07" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; font-size:70px; color:red; text-transform:uppercase; white-space: nowrap;">欢迎来到京航安</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption sfb tp-resizeme letter-space-1" data-x="left" data-hoffset="0" data-y="center" data-voffset="70" data-speed="800" data-start="1800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; font-size:18px;  font-style:italic; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">
                        与党同心，与国同频
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb tp-resizeme" data-x="left" data-hoffset="0" data-y="center" data-voffset="150" data-speed="800" data-start="2200" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-scrolloffset="0" style="z-index: 8;"><a href="#." class="btn margin-right-20"> 做诚信企业</a><a href="#." class="btn  btn-white">创精品工程</a>
                    </div>
                </li>
                {% else %}
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="{{ s.image.url }}"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
    <!-- Content -->
<div id="content">
    <!-- Welcome -->
    <section class="blog light-gray-bg">
      <div class="container-fiuled team-e"> 
        
        <!-- Row -->
        <div class="row"> 
          
          <!-- BLOG POST -->
          <div class="col-md-6" style="padding:0;">
            <div class="service" id="services" style="height: 35vw;background:url(/static/images/ywbj.jpg) no-repeat center center;background-size:100% 100%;padding:6em 4em;">
                <div class="feature-grids">
                    <div class="feature-grid">
                        <h3 class="tittle three">业务范围</h3>
                        <div class="feature">
                            <div class="features-item sans-shadow text-center">
                                <div class="features-icon">
                                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                                        <a href="#" class="hi-icon"><h5>机场设备</h5></a>
                                    </div>
                                </div>
                                <div class="features-info">
                                    <!-- <h4>机场内部设备</h4> -->
                                
                                </div>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="features-item sans-shadow text-center">
                                <div class="features-icon">
                                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                                        <a href="#" class="hi-icon"><h5>航站楼</h5></a>
                                    </div>
                                </div>
                                <div class="features-info">
                                    <!-- <h4>航站楼</h4> -->
                                    
                                </div>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="features-item sans-shadow text-center">
                                <div class="features-icon">
                                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                                        <a href="#" class="hi-icon"><h5>跑道灯光</h5></a>
                                    </div>
                                </div>
                                <div class="features-info">
                                    <!-- <h4>跑道灯光</h4> -->
                                    
                                </div>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="features-item sans-shadow text-center">
                                <div class="features-icon">
                                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                                        <a href="#" class="hi-icon"><h5>雷达通信</h5></a>
                                    </div>
                                </div>
                                <div class="features-info">
                                    <!-- <h4>雷达通信</h4> -->
                                    
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            
          </div>
          
          <!-- BLOG POST -->
          <div class="col-md-3 pading-none">
<!--             <article> <img class="img-responsive" src="images/post-img-2.jpg" alt="" >
              <div class="post-info">
                <div class="post-in">
                  <div class="extra"> <span><i class="icon-calendar"></i>Aug 29, 2015</span> </div>
                  <a href="#." class="tittle-post">It's Good To Talk Photography </a> <a href="#.">Read More <i class="fa fa-long-arrow-right margin-left-10"></i></a> </div>
              </div>
            </article> -->
            <div class="shutter">
                <div class="shutter-img">
                    <a href="#" data-shutter-title="新闻1"><img src="/static/images/lb.png" alt="#"></a>
                    <a href="#" data-shutter-title="新闻2"><img src="/static/images/lb2.png" alt="#"></a>
                </div>
                <ul class="shutter-btn">
                    <li class="prev"></li>
                    <li class="next"></li>
                </ul>
                <div class="shutter-desc" style="margin-bottom: 35px">
                    <p style="font-size:2em">新闻</p>
                </div>
            </div>


          </div>
          
          <!-- BLOG POST -->
          <div class="col-md-3 pading-none">
            <article class="portfolio-item pf-branding-design pf-web-design" style="margin-bottom: 0px">
                <div class="portfolio-image"> <a href="#."> <img id='img2' alt="" src="/static/images/wenhua.jpg"> </a> </div>
                <div class="portfolio-overlay" id="wenhuadiv">
                    <div class="heading text-center white" id="yewudiv-head">
                        <h4>企业文化</h4>
                        <span>Company Culture</span>
                        <hr>
                    </div>
                </div>
            </article>
            <div class="swiper-container yx"  id="yx">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/static/images/jh.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/static/images/jh.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/static/images/jh.jpg" alt=""></div>
                </div>
                <!-- 如果需要分页器 -->
                <!-- <div class="swiper-pagination"></div> -->
                
                <!-- 如果需要导航按钮 -->
                <!-- <div class="swiper-button-prev"></div> -->
                <!-- <div class="swiper-button-next"></div> -->
                
                <!-- 如果需要滚动条 -->
                <!-- <div class="swiper-scrollbar"></div> -->
            </div>
           
          </div>
          
        </div>
      </div>
    </section>

    <section class="index-image index-image-right">
        <div class="img-left img2 scroll-animation" data-animation="fadeInUp"></div>
        <div class="information-right scroll-animation" data-animation="fadeInLeft" data-animation-delay="0s">
            <h3 class="tittle three">公司新闻</h3>
            <h4>港珠澳大桥通车仪式举行 远东电缆点亮世界最长跨海大桥</h4>
            <p>10月23日，世界最长跨海大桥——港珠澳大桥通车仪式在珠海举行，国家主席习近平出席仪式并宣布大桥正式开通。作为港珠澳大桥主体工程交通工程战略供应商，远东智慧能源股份有限公司（简称：智慧能源，股票代码600869）为港珠澳大桥项目提供了优质的产品和服务。</p>
            <a href="blog_inner.html" class="read-more">更多</a>
        </div>
    </section>
    
    <div id="partners" class="scroll-animation" data-animation="fadeInUp" data-animation-delay="0s">
        <div class="container">
            <div class="carousel-wrapper">
                <div class="swiper-container" id="carousel">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/static/images/yl1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl2.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl3.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl4.png" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl5.png" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl2.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl3.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl4.png" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl5.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</div>
    {% endblock %}