{% extends "common.html" %}
{% block body %}
<!--======= HOME MAIN SLIDER =========-->
<section class="home-slider">
    <!-- Slider Loader -->
    <div id="loader" class="hom-slie">
        <div class="tp-loader spinner0"> <span class="dot1"></span> <span class="dot2"></span> <span class="bounce1"></span> <span class="bounce2"></span> <span class="bounce3"></span> </div>
    </div>
    <!-- SLIDE Start -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                {% for s in slides %}
                {% if s.file %}
<!--                 <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <img style="z-index: 8" src=""  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    <img src="{{ s.image.url }}"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <video poster="{{ s.image.url }}" alt="slider" style="width: 100%;height: 100%;object-fit: cover;  z-index: 9" loop controls="" autoplay="" name="media">
                        <source src="{{ s.file.url }}" type="video/mp4">
                    </video>
                    <div class="tp-caption sfr font-bold tp-resizeme letter-space-4" data-x="left" data-hoffset="0" data-y="center" data-voffset="-80" data-speed="800" data-start="800" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="none" data-elementdelay="0.07" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; font-size:35px; color:#fff; text-transform:uppercase; white-space: nowrap;">致力于成为全球领先的智慧机场服务商
                    </div>
                    <div class="tp-caption sfr font-bold tp-resizeme letter-space-3" data-x="left" data-hoffset="0" data-y="center" data-voffset="0" data-speed="800" data-start="1300" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="none" data-elementdelay="0.07" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; font-size:70px; color:red; text-transform:uppercase; white-space: nowrap;">京航安欢迎您</div>
                    <div class="tp-caption sfb tp-resizeme letter-space-1" data-x="left" data-hoffset="0" data-y="center" data-voffset="70" data-speed="800" data-start="1800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; font-size:18px;  font-style:italic; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">
                    </div>
                    <div class="tp-caption lfb tp-resizeme" data-x="left" data-hoffset="0" data-y="center" data-voffset="150" data-speed="800" data-start="2200" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-scrolloffset="0" style="z-index: 8;"><a href="#." class="btn margin-right-20"> 做诚信企业</a><a href="#." class="btn  btn-white">创精品工程</a>
                    </div>
                </li> -->
                {% else %}
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="{{ s.image.url }}" class="p15img"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption sfr font-bold tp-resizeme letter-space-4" data-x="left" data-hoffset="0" data-y="center" data-voffset="-80" data-speed="800" data-start="800" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="none" data-elementdelay="0.07" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; font-size:35px; color:#fff; text-transform:uppercase; white-space: nowrap;">致力于成为全球领先的智慧机场服务商
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfr font-bold tp-resizeme letter-space-3" data-x="left" data-hoffset="0" data-y="center" data-voffset="0" data-speed="800" data-start="1300" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="none" data-elementdelay="0.07" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; font-size:70px; color:red; text-transform:uppercase; white-space: nowrap;">京航安欢迎您</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption sfb tp-resizeme letter-space-1" data-x="left" data-hoffset="0" data-y="center" data-voffset="70" data-speed="800" data-start="1800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; font-size:18px;  font-style:italic; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb tp-resizeme" data-x="left" data-hoffset="0" data-y="center" data-voffset="150" data-speed="800" data-start="2200" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-scrolloffset="0" style="z-index: 8;"><a href="#." class="btn margin-right-20"> 做诚信企业</a><a href="#." class="btn  margin-right-20">创精品工程</a>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
    <!-- Content -->


    <!-- Welcome -->
    <div class="container-fiuled">
      <div class="col-md-6 col-md-6-s list-left text-center scroll-animation" data-animation="fadeInLeft" data-animation-delay="0s">
          <section class="index-image index-image-right">
              <div class="img-left" data-animation="fadeInUp">
                  <div class="swiper-container gallery-top">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(/static/images/gsxw3.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/gsxw2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/gsxw1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                      </div>
                      <!-- Add Arrows -->
                      <div class="swiper-button-next swiper-button-white"></div>
                      <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
   
              </div>
              <div class="swiper-container gallery-left information-right scroll-animation" data-animation="fadeInLeft" data-animation-delay="0s">
                  <h3 class="tittle three">公司新闻</h3>
                  <div class="swiper-wrapper">
                      {% for i in gongsi %}
                      <div class="swiper-slide">
                          
                          <div class="information-right information-right-s">
                              <h4>{{ i.title }}<a href="blog_inner.html" class="a-s">更多</a></h4>
                              <!-- <a href="blog_inner.html" class="read-more">更多</a> -->
                          </div>
                          
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </section>
      </div>
      <div class="col-md-6 col-md-6-s list-left text-center scroll-animation" data-animation="fadeInRight" data-animation-delay="0s">
          <section class="index-image">
              <div class="img-left" data-animation="fadeInUp">
                  <div class="swiper-container gallery-top-1">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(/static/images/hyxw1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/hyxw2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/hyxw3.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/static/images/jh2.jpg)"></div>
                      </div>
                      <!-- Add Arrows -->
                      <div class="swiper-button-next swiper-button-white"></div>
                      <div class="swiper-button-prev swiper-button-white"></div>
                    </div>

              </div>
              <div class="swiper-container gallery-left-1 information-right scroll-animation" data-animation="fadeInLeft" data-animation-delay="0s">
                  <h3 class="tittle three">行业动态</h3>
                  <div class="swiper-wrapper">
                      {% for i in hangye %}
                      <div class="swiper-slide">
                          
                          <div class="information-right information-right-s">
                  
                              
                              <h4>{{ i.title }}<a href="blog_inner.html" class="a-s">更多</a></h4>
                              <!-- <a href="blog_inner.html" class="read-more">更多</a> -->
                          </div>
                          
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </section>
      </div>
    </div>

    <div class="col-md-12" style="height: 25px;width: 100%;"></div>
    <div class="container-fiuled">
        <div class="services_right">
            <div class="col-md-3 list-left text-center scroll-animation" data-animation="fadeInLeft" data-animation-delay="0s" >
            
                <h4 class="text-center-h">民航机场目视助航工程典型案例</h4>
                <div class="multi-gd-text"><a href="#"><img class="img-responsive" src="/static/images/yw1.jpg" alt=" "></a></div>
                <!-- <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,sed quia consequuntur magni dolores eos qui</p> -->
            </div>
            <div class="col-md-3 list-left text-center scroll-animation" data-animation="fadeInLeft" data-animation-delay="0s">
                
                <h4 class="text-center-h">民航空管工程典型案例</h4>
                <div class="multi-gd-text"><a href="#"><img class="img-responsive" src="/static/images/yw2.jpg" alt=" "></a></div>
                <!-- <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,sed quia consequuntur magni dolores eos qui</p> -->
            </div>
            <div class="col-md-3 list-left text-center scroll-animation" data-animation="fadeInRight" data-animation-delay="0s">
                
                <h4 class="text-center-h">民航机场弱电系统工程典型案例</h4>
                <div class="multi-gd-text"><a href="#"><img class="img-responsive" src="/static/images/yw3.jpg" alt=" "></a></div>
                <!-- <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,sed quia consequuntur magni dolores eos qui</p> -->
            </div>
            <div class="col-md-3 list-left text-center scroll-animation" data-animation="fadeInRight" data-animation-delay="0s">
                
                <h4 class="text-center-h">建筑机电安装工程典型案例</h4>
                <div class="multi-gd-text"><a href="#"><img class="img-responsive" src="/static/images/yw4.jpg" alt=" "></a></div>
                <!-- <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,sed quia consequuntur magni dolores eos qui</p> -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-12" style="height: 25px;width: 100%;"></div>
    <div id="partners" class="scroll-animation" data-animation="fadeInUp" data-animation-delay="0s">
        <div class="container-fiuled">
            <div class="carousel-wrapper">
                <div class="swiper-container" id="carousel">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/static/images/yl1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl2.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl3.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl4.png" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl5.png" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl2.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl3.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl4.png" alt=""></div>
                        <div class="swiper-slide"><img src="/static/images/yl5.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   


    {% endblock %}