{% extends "common.html" %}
  {% block body %}
  <!--======= HOME MAIN SLIDER =========-->
  <link rel="stylesheet" type="text/css" href="/static/css/news.css">
  <section class="sub-bnr" data-stellar-background-ratio="0.5" >
    <div class="position-center-center">
      <div class="container">
        <h3>新闻资讯</h3>
        <hr>
        <ol class="breadcrumb">
          <li><a href="/">首页</a></li>
          <li class="active">新闻资讯</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- BLOG --> 
    <!-- Heading -->
    {% if gongsi %}
    <section class="blog-area section-gap">
        <div class="container">
          <div class="row d-flex justify-content-center row-self">
            <div class="menu-content pb-60 col-lg-12">
              <div class="title text-center">
                <h1 class="mb-10">公司新闻</p>
              </div>
            </div>
          </div>              
          <div class="row">
            <div class="active-blog-carusel">
              {% for i in gongsi %}
              <div class="single-blog-post item">
                <div class="thumb">
                  <img class="img-fluid img-fluid-self" src="/media/{{ i.image }}" alt="">
                </div>
                <div class="details">
                  <div class="tags">
                    <ul>
                      <li>
                        <a href="#">作者:{{ i.author }}</a>
                      </li>
                      <li>
                        <a href="#">点击量:{{ i.pageviews }}</a>
                      </li>                     
                    </ul>
                  </div>
                  <a href="/news/{{ i.id }}/"><h4 class="title">{{ i.titile }}</h4></a>
                <!--   <p>
                    Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
                  </p> -->
                  <h6 class="date">{{ i.ntime|date:"Y-m-d H:m" }}</h6>
                </div>  
              </div>
              {% endfor %}           

            </div>
          </div>
        </div>  
    </section>
    {% endif %}
    {% if jituan %}
    <section class="blog-area section-gap">
        <div class="container">
          <div class="row d-flex justify-content-center row-self">
            <div class="menu-content pb-60 col-lg-12">
              <div class="title text-center">
                <h1 class="mb-10">集团要闻</p>
              </div>
            </div>
          </div>              
          <div class="row">
            <div class="active-blog-carusel">
              {% for i in jituan %}
              <div class="single-blog-post item">
                <div class="thumb">
                  <img class="img-fluid img-fluid-self" src="/media/{{ i.image }}" alt="">
                </div>
                <div class="details">
                  <div class="tags">
                    <ul>
                      <li>
                        <a href="#">作者:{{ i.author }}</a>
                      </li>
                      <li>
                        <a href="#">点击量:{{ i.pageviews }}</a>
                      </li>                     
                    </ul>
                  </div>
                  <a href="#"><h4 class="title">{{ i.titile }}</h4></a>
                <!--   <p>
                    Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
                  </p> -->
                  <h6 class="date">{{ i.ntime|date:"Y-m-d H:m" }}</h6>
                </div>  
              </div>
              {% endfor %}           

            </div>
          </div>
        </div>  
    </section>
    {% endif %}
    {% if hangye %}
    <section class="blog-area section-gap">
        <div class="container">
          <div class="row d-flex justify-content-center row-self">
            <div class="menu-content pb-60 col-lg-12">
              <div class="title text-center">
                <h1 class="mb-10">行业动态</p>
              </div>
            </div>
          </div>              
          <div class="row">
            <div class="active-blog-carusel">
              {% for i in hangye %}
              <div class="single-blog-post item">
                <div class="thumb">
                  <img class="img-fluid img-fluid-self" src="/media/{{ i.image }}" alt="">
                </div>
                <div class="details">
                  <div class="tags">
                    <ul>
                      <li>
                        <a href="#">作者:{{ i.author }}</a>
                      </li>
                      <li>
                        <a href="#">点击量:{{ i.pageviews }}</a>
                      </li>                     
                    </ul>
                  </div>
                  <a href="#"><h4 class="title">{{ i.titile }}</h4></a>
                <!--   <p>
                    Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
                  </p> -->
                  <h6 class="date">{{ i.ntime|date:"Y-m-d H:m" }}</h6>
                </div>  
              </div>
              {% endfor %}           

            </div>
          </div>
        </div>  
    </section>
    {% endif %}
  </div>
  
  <!--======= FOOTER =========-->
  <script type="text/javascript">
  $(document).ready(function() {
        "use strict";
        $('.active-blog-carusel').owlCarousel({
            items: 3,
            loop: true,
            margin: 30,
            dots: true,
            autoplayHoverPause: true, 
            smartSpeed:500,               
            autoplay: true,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1,
                },
                768: {
                    items: 2,
                },
                961: {
                    items: 3,
                }
            }
        });
      })
    </script>
    {% endblock %}

