<!DOCTYPE html>
<html>
<head>
    <title>智慧院区</title>
    <link href="http://modelbucket.oss-cn-shanghai.aliyuncs.com/git/iview.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/iview/3.4.2-rc.1/styles/iview.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    
</head>
<body style="overflow-y: hidden;height: 100vh">
<div id="app" >

</div>
</body>
<script src="http://modelbucket.oss-cn-shanghai.aliyuncs.com/git/echarts.js"></script>
<script src="http://modelbucket.oss-cn-shanghai.aliyuncs.com/git/shine.js"></script>
<!-- <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
 <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"</script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=dayjiY8Sm32Pb1XCjU00NveW7cAoX5hN"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script> -->




<script src="http://modelbucket.oss-cn-shanghai.aliyuncs.com/git/vue.js"></script>
<script src="http://modelbucket.oss-cn-shanghai.aliyuncs.com/git/iview.js"></script>
<script src="https://cdn.bootcss.com/iview/3.4.2-rc.1/iview.js"></script>
<script src="http://modelbucket.oss-cn-shanghai.aliyuncs.com/git/vue-echarts@4.0.2"></script>
<script type="text/javascript" src="http://modelbucket.oss-cn-shanghai.aliyuncs.com/git/china.js"></script>
<script src="http://modelbucket.oss-cn-shanghai.aliyuncs.com/git/cookies.min.js"></script>
<script src="http://modelbucket.oss-cn-shanghai.aliyuncs.com/git/qs.min.js"></script>
<script src="http://modelbucket.oss-cn-shanghai.aliyuncs.com/git/axios.min.js"></script>
<script src="http://modelbucket.oss-cn-shanghai.aliyuncs.com/git/vue-router.min.js"></script>
<script src="/static/js/routes/louyu.js"  type="text/javascript"></script>
<script src="/static/js/routes/system.js"  type="text/javascript"></script>
<script src="/static/js/routes/yuanqu.js"  type="text/javascript"></script>
<script src="/static/js/index.js"  type="text/javascript"></script>

</html>
