<!DOCTYPE html>
<html>
<head>
    <title>返利商城</title>
    <link href="https://cdn.bootcss.com/iview/2.9.2/styles/iview.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
<div id="app">
</body>
<script src="https://cdn.bootcss.com/Cookies.js/1.2.1/cookies.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
<script src="https://cdn.bootcss.com/iview/2.9.2/iview.min.js"></script>
<script src="/static/js/taobaoindex.js"  type="text/javascript"></script>
<!-- <script src="http://img01.daily.taobaocdn.net/L1/377/10001/sea.js" data-main="assets/tdk/dent"></script> -->
</html>