<!DOCTYPE html>
<html>
<head>
    <title>个人博客</title>
    <link href="https://cdn.bootcss.com/iview/2.9.2/styles/iview.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/js/web3d/style.css" type="text/css">
</head>
<body>
<div id="app">

</div>
</body>
<script src="/static/js/web3d/viewer3D.min.js"></script>
<script src="/static/js/web3d/three.min.js"></script>
<script src="/static/js/plugin/Tween/Tween.js" type="text/javascript"></script>
<script src="/static/js/web3d/Extension/Autodesk.ADN.Viewing.Extension.CameraTween/Autodesk.ADN.Viewing.Extension.CameraTween.js"></script>
<script src="https://cdn.bootcss.com/Cookies.js/1.2.1/cookies.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/vue-images/vue-images.js"  type="text/javascript"></script>
<script src="/static/js/routes/vuestudy.js"  type="text/javascript"></script>
<script src="/static/js/routes/transactions.js"  type="text/javascript"></script>
<script src="/static/js/routes/blockchain.js"  type="text/javascript"></script>
<script src="/static/js/routes/docker.js"  type="text/javascript"></script>
<script src="/static/js/routes/threeD.js"  type="text/javascript"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
<script src="https://cdn.bootcss.com/iview/2.9.2/iview.min.js"></script>
<script src="/static/js/index.js"  type="text/javascript"></script>
</html>
